/* GENERAL */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@font-face {
  font-family: 'Barlow';
  src: url("Barlow-Bold.woff2") format("woff2"), url("Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("Barlow-Regular.woff2") format("woff2"), url("Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces';
  src: url("Fraunces-Black.woff2") format("woff2"), url("Fraunces-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* SITE HEADER */
.site-header {
  padding-top: 44px;
  padding-bottom: 43px;
}

@media only screen and (max-width: 475px) {
  .site-header {
    position: relative;
    z-index: 1;
    color: white;
  }
  .site-header {
    display: block;
  }
}

@media only screen and (max-width: 415px) {
  .site-header {
    position: relative;
    z-index: 1;
  }
}

.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__button {
  display: none;
}

@media only screen and (max-width: 475px) {
  .site-header__button {
    display: block;
  }
}

@media only screen and (max-width: 415px) {
  .site-header__button {
    display: block;
  }
}

.site-logo:hover {
  opacity: 0.7;
}

.site-logo__img {
  display: block;
}

@media only screen and (max-width: 768px) {
  .site-logo__img {
    display: block;
    width: 235px;
  }
}

@media only screen and (max-width: 535px) {
  .site-logo__img {
    max-width: 162px;
  }
}

/* SITE NAVIGATION */
@media only screen and (max-width: 475px) {
  .sitenav {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    position: absolute;
    z-index: 1;
    top: 100%;
    background-color: rgba(32, 30, 30, 0.239);
    display: none;
  }
  .sitenav--open {
    display: block;
  }
}

@media only screen and (max-width: 415px) {
  .sitenav {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    position: absolute;
    z-index: 1;
    top: 100%;
    background-color: rgba(209, 206, 206, 0.2);
    display: none;
  }
  .sitenav--open {
    display: block;
  }
}

.sitenav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media only screen and (max-width: 475px) {
  .sitenav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 415px) {
  .sitenav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sitenav__item:not(:last-child) {
  margin-right: 32px;
}

@media only screen and (max-width: 475px) {
  .sitenav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 415px) {
  .sitenav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.sitenav__link {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-decoration: none;
  color: #83888b;
}

.sitenav__link:hover {
  color: aqua;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

@media only screen and (max-width: 535px) {
  .sitenav__link {
    font-size: 8px;
    line-height: 4px;
    color: #333D4B;
  }
}

@media only screen and (max-width: 475px) {
  .sitenav__link {
    font-family: 'Fraunces';
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
    color: #333D4B;
  }
}

@media only screen and (max-width: 415px) {
  .sitenav__link {
    font-family: 'Fraunces';
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
    color: #333D4B;
  }
}

.site-primary-link {
  display: inline-block;
  padding: 15px 31px;
  font-family: 'Fraunces';
  font-size: 18px;
  line-height: 25px;
  font-weight: 900;
  text-decoration: none;
  color: #FEFCF7;
  background-color: #0E8784;
  border-radius: 6px;
}

.site-primary-link:hover {
  color: #000;
  background-color: #d3d3d2;
}

@media only screen and (max-width: 440px) {
  .site-primary-link {
    max-width: 180px;
    display: inline-block;
    padding: 10px 5px 10px 5px;
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
}

/* SITE HERO */
.site-hero {
  padding-top: 117px;
  padding-bottom: 116px;
  padding-left: 86px;
  background-image: url(../img/section-fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #d8d8d8;
  border-radius: 10px;
}

.site-hero__content {
  max-width: 493px;
}

.site-hero__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: 'Fraunces';
  font-size: 72px;
  line-height: 72px;
  font-weight: 900;
  color: #FEFCF7;
}

.site-hero__desc {
  width: 404px;
  margin-top: 0;
  margin-bottom: 56px;
  color: #fefcf7;
  opacity: 0.8;
}

.site-primary-link {
  display: inline-block;
  padding: 15px 31px;
  font-family: 'Fraunces';
  font-size: 18px;
  line-height: 25px;
  font-weight: 900;
  text-decoration: none;
  color: #FEFCF7;
  background-color: #0E8784;
  border-radius: 6px;
}

.site-primary-link:hover {
  color: #000;
  background-color: #d3d3d2;
}

@media only screen and (max-width: 768px) {
  .site-hero {
    background-position: cover;
    border-radius: 10px;
  }
  .site-hero__title {
    max-width: 329px;
    font-size: 48px;
    line-height: 48px;
  }
  .site-hero__desc {
    max-width: 380px;
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 535px) {
  .site-hero {
    background-size: cover;
    background-position: calc(50% + -170px);
  }
  .site-hero__content {
    width: 100%;
  }
  .site-hero__title {
    width: 100%;
    max-width: 279px;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
  }
  .site-hero__desc {
    width: 100%;
    max-width: 279px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 440px) {
  .site-hero {
    background-size: cover;
    background-position: calc(50% + -170px);
    /* padding-left: 10px; */
  }
  .site-hero__content {
    width: 100%;
  }
  .site-hero__title {
    /* width: 100%; */
    max-width: 220px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
  }
  .site-hero__desc {
    /* width: 100%; */
    max-width: 220px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
  .site-primary-link {
    max-width: 180px;
    display: inline-block;
    padding: 10px 5px 10px 5px;
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
}

@media only screen and (max-width: 415px) {
  .site-header {
    position: relative;
    z-index: 1;
  }
  .sitenav {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    position: absolute;
    z-index: 1;
    top: 100%;
    background-color: rgba(209, 206, 206, 0.2);
    display: none;
  }
  .sitenav--open {
    display: block;
  }
  .sitenav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sitenav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .sitenav__link {
    font-family: 'Fraunces';
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
    color: #333D4B;
  }
  .site-header__button {
    display: block;
  }
}

/* OUR COLLECTION */
.our-collection {
  padding-top: 136px;
  padding-bottom: 200px;
}

.our-collection__heading {
  margin: 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 145px;
  line-height: 1.3;
  text-align: center;
  background-color: #83888F;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 252, 247, 0.0001)), to(#FEFCF7));
  background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our-collection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-top: -92px;
  padding: 0;
  list-style-type: none;
}

.our-collection__item {
  max-width: 255px;
  text-align: center;
}

.our-collection__item:not(:last-child) {
  margin-right: 30px;
}

.our-collection__img {
  width: 255px;
  margin-bottom: 71px;
}

.our-collection__content-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.our-collection__content-desc {
  margin: 0;
}

@media only screen and (max-width: 1135px) {
  .our-collection__heading {
    font-size: 96px;
    line-height: 72px;
  }
}

@media only screen and (max-width: 768px) {
  .our-collection__heading {
    font-size: 75px;
    line-height: 72px;
  }
  .our-collection__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-collection__item {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 52px;
    margin-left: 10px;
  }
  .our-collection__img {
    width: 100%;
    max-width: 255px;
    margin: 0;
  }
  .our-collection__content-heading {
    text-align: left;
  }
  .our-collection__content-desc {
    width: 280px;
    font-size: 15px;
    line-height: 25px;
    text-align: left;
  }
}

@media only screen and (max-width: 588px) {
  .our-collection__heading {
    font-size: 67px;
    line-height: 64px;
  }
}

@media only screen and (max-width: 535px) {
  .our-collection__heading {
    font-size: 55px;
    line-height: 52px;
  }
}

@media only screen and (max-width: 442px) {
  .our-collection__heading {
    font-size: 45px;
    line-height: 42px;
    margin-bottom: 60px;
  }
  .our-collection__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .our-collection__img {
    width: 200px;
  }
  .our-collection__content-heading {
    text-align: center;
  }
  .our-collection__content-desc {
    text-align: center;
  }
}

/* WHY CHOOSE US */
.why-choose-us {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 317px;
  color: #FEFCF7;
  background-color: #2c343e;
  border-radius: 10px;
}

.why-choose-us__header {
  max-width: 529px;
  margin: 0 auto;
  text-align: center;
}

.why-choose-us__heading {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}

.why-choose-us__desc {
  margin: 0;
  opacity: 0.8;
}

.why-choose-us__list {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: -151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.why-choose-us__item {
  width: 350px;
  padding: 72px 48px 48px 48px;
  text-align: center;
  background-color: #0e8784;
  border-radius: 8px;
}

.why-choose-us__item:not(:last-child) {
  margin-right: 30px;
}

.why-choose-us__item-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.why-choose-us__item-heading::before {
  display: block;
  width: 72px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 56px;
  background-repeat: no-repeat;
  content: '';
}

.why-choose-us__item-heading--shape::before {
  background-image: url(../img/coffe-tarif-1.svg);
}

.why-choose-us__item-heading--benefits::before {
  background-image: url(../img/coffe-tarif-2.svg);
}

.why-choose-us__item-heading--shupping::before {
  background-image: url(../img/coffe-tarif-3.svg);
  background-position: center bottom;
}

@media only screen and (max-width: 768px) {
  .why-choose-us__heading {
    width: 100%;
    font-size: 32px;
    line-height: 48px;
  }
  .why-choose-us__desc {
    font-size: 15px;
    line-height: 25px;
  }
  .why-choose-us__list {
    top: 580px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* margin-left: 60px; */
  }
  .why-choose-us__item {
    width: 100%;
    max-width: 573px;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why-choose-us__item:not(:last-child) {
    margin-left: 30px;
    margin-bottom: 24px;
  }
  .why-choose-us__item-heading {
    width: 255px;
  }
}

@media only screen and (max-width: 628px) {
  .why-choose-us__heading {
    width: 100%;
    max-width: 279px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 28px;
  }
  .why-choose-us__desc {
    width: 100%;
    max-width: 279px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 25px;
  }
  .why-choose-us__list {
    top: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why-choose-us__item:not(:last-child) {
    margin-left: 30px;
    margin-bottom: 24px;
  }
  .why-choose-us__item:nth-child(3) {
    width: 492px;
  }
}

/* HOW IT WORKS */
.how-it-works {
  padding-top: 351px;
  padding-bottom: 200px;
  padding-left: 85px;
}

.how-it-works__heading {
  margin-top: 0;
  margin-bottom: 178px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}

.how-it-works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  list-style-type: none;
  counter-reset: item;
}

.how-it-works__item {
  max-width: 380px;
  position: relative;
  z-index: 1;
  counter-increment: item;
}

.how-it-works__item:not(:last-child):before {
  width: 100%;
  height: 1px;
  position: absolute;
  z-index: 1;
  top: -82px;
  display: block;
  background-color: #fdd6ba;
  content: '';
}

.how-it-works__item::after {
  width: 31px;
  height: 31px;
  position: absolute;
  z-index: 1;
  top: calc(-82px - 15px);
  background-color: #FEFCF7;
  border: 1px solid #0E8784;
  border-radius: 50%;
  content: '';
}

.how-it-works__item:not(:last-child) {
  padding-right: 95px;
}

.how-it-works__item-heading {
  max-width: 25px;
  margin-top: 0;
  margin-bottom: 42px;
  font-family: 'Fraunces';
  font-size: 32px;
  line-height: 36px;
  font-weight: 900;
  color: #333D4B;
}

.how-it-works__item-heading::before {
  display: block;
  margin-bottom: 38px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  content: "0" counter(item);
}

@media only screen and (max-width: 768px) {
  .how-it-works__item-heading {
    max-width: 223px;
    font-size: 28px;
    line-height: 32px;
  }
  .how-it-works__desc {
    max-width: 223px;
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 576px) {
  .how-it-works__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-it-works__item:not(:last-child):before {
    content: none;
    background-color: #FEFCF7;
    border-radius: 0%;
  }
}

/* SITE FOOTER */
.site-footer {
  padding: 47px 85px;
  background-color: #2C343E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-logo:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.site-nav--fot {
  margin-left: 103px;
  margin-right: auto;
}

.site-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.site-nav__link:hover {
  color: lightgreen;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.site-nav__item:not(:last-child) {
  margin-right: 33px;
}

.site-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-footer__item:not(:last-child) {
  margin-right: 24px;
}

.site-footer__logo:hover {
  background-color: #000;
}

@media only screen and (max-width: 994px) {
  .site-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo-link {
    width: 100%;
    text-align: center;
  }
  .site-nav {
    width: 100%;
    margin-top: 33px;
    margin-bottom: 65px;
    margin-left: 0;
  }
  .site-nav__list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 576px) {
  .site-logo {
    width: 100%;
    max-width: 217px;
    display: block;
    margin: 0 auto;
  }
  .site-nav__list {
    display: block;
    text-align: center;
  }
  .site-nav__item:not(:last-child) {
    margin-bottom: 24px;
    margin-left: 24px;
  }
}

.subscribe-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe-list-wrapper {
  padding-top: 88px;
}

@media only screen and (max-width: 895px) {
  .subscribe-list-wrapper {
    display: none;
  }
}

.subscribe-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.subscribe-list__item {
  margin-bottom: 24px;
  font-family: Fraunces;
  font-weight: 100;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.subscribe-list__item:nth-child(5) {
  color: #333d4b;
}

.subscribe-list__item:hover {
  color: #333d4b;
}

.subscribe-list__item::after {
  margin-top: 24px;
  display: block;
  border-bottom: 1px solid #83888f;
  opacity: .3;
  content: '';
}

.subscribe-list__item-bolt {
  color: #83888f;
  margin-right: 25px;
}

.subscribe-list__item-bolt:hover {
  color: #333d4b;
}

.subscribe-list__item-bolt--opacity {
  color: #333d4b;
  opacity: .9;
}

@media only screen and (max-width: 1015px) {
  .subscribe-list__item {
    font-size: 18px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 955px) {
  .subscribe-list__item {
    font-size: 11px;
    line-height: 18px;
  }
}

.subscribe-section__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-section__heading {
  padding: 0;
  padding-top: 88px;
  padding-bottom: 56px;
  margin: 0;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888f;
}

.subscribe-section__card:not(:last-child) {
  margin-right: 23px;
}

.subscribe-section__form-input:checked + .subscribe-section__span {
  color: #fff;
  background-color: #0e8784;
}

.subscribe-section__span {
  padding: 32px 28px 84px 28px;
  display: block;
  width: 228px;
  background-color: #f4f1eb;
  border-radius: 8px;
}

.subscribe-section__span:hover {
  background-color: #fdd6ba;
  -webkit-transition: .3s;
  transition: .3s;
}

.subscribe-section__card-heading {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}

.subscribe-section__card-heading-font {
  font-size: 23px;
}

.subscribe-section__card-text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #333d4b;
}

.subscribe-section__card-text--font {
  font-size: 17px;
}

.subscribe-section__form-button {
  color: #fff;
  padding: 15px 36px 16px 36px;
  margin-left: auto;
  display: block;
  background-color: #0e8784;
  border-radius: 8px;
}

.subscribe-section__form-button:hover {
  cursor: pointer;
  background-color: #66d2cf;
}

@media only screen and (max-width: 500px) {
  .subscribe-section__heading {
    width: 100%;
    max-width: 240px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 28px;
  }
  .subscribe-section__box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe-section__card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .subscribe-section__form-button {
    margin: 0 auto;
  }
}

.order-summary {
  padding: 31px 64px 27px 64px;
  margin-top: 88px;
  margin-bottom: 40px;
  background-color: #000;
  border-radius: 8px;
}

.order-summary__text {
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  opacity: .5;
}

.order-summary__text-bolt {
  width: 602px;
  padding: 0;
  margin: 0;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}

.our-summary__strong {
  color: #0e8784;
}

@media only screen and (max-width: 500px) {
  .order-summary-section {
    width: 100%;
    max-width: 328px;
  }
  .order-summary {
    margin: 0;
    margin-top: 120px;
    margin-bottom: 56px;
    padding: 0;
    padding: 38px 24px 32px 25px;
  }
  .order-summary__text-bolt {
    width: 100%;
    max-width: 279px;
    padding: 0;
    margin: 0 auto;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
  }
}

.about-us-hero {
  padding-top: 137px;
  padding-bottom: 137px;
  margin-bottom: 168px;
  background-color: #A2A2A2;
  background-image: url(../img/about-us-herobg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  border-radius: 10px;
}

.about-us-hero__wrapper {
  max-width: 445px;
  margin-left: 85px;
}

.about-us-hero__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}

.about-us-hero__desc {
  margin: 0;
  padding: 0;
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.about-us-section {
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 85px;
  margin-bottom: 244px;
}

.about-us-section__img {
  border-radius: 8px;
  position: cover;
}

.about-us-section__text-wrapper {
  margin-left: 125px;
}

.about-us-section__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
}

.about-us-section__desc {
  padding: 0;
  margin: 0;
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.about-us-quality {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  padding-bottom: 178px;
  margin-bottom: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2C343E;
  border-radius: 10px;
}

.about-us-quality__text-wrapper {
  max-width: 507px;
  margin-left: 85px;
}

.about-us-quality__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}

.about-us-quality__desc {
  margin: 0;
  padding: 0;
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.about-us-quality__img {
  position: absolute;
  z-index: 1;
  top: -100px;
  border-radius: 8px;
}

.our-headquarters {
  margin-bottom: 168px;
}

.our-headquarters__heading {
  padding: 0;
  margin: 0;
  margin-left: 85px;
  margin-bottom: 72px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}

.our-headquarters__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 85px;
}

.our-headquarters__item {
  width: 285px;
}

.our-headquarters__item-img {
  margin-bottom: 46px;
}

.our-headquarters__item-heading {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces  ';
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}

.our-headquarters__item-text {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}
/*# sourceMappingURL=main.css.map */