.about-us-hero{
    padding-top: 137px;
    padding-bottom: 137px;
    margin-bottom: 168px;
    background-color: #A2A2A2;
    background-image: url(../img/about-us-herobg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    border-radius: 10px;
}
.about-us-hero__wrapper{
    max-width: 445px;
    margin-left: 85px;
}
.about-us-hero__heading{
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}
.about-us-hero__desc{
    margin: 0;
    padding: 0;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}