/* SITE HEADER */
.site-header {
    padding-top: 44px;
    padding-bottom: 43px;
    @media only screen and (max-width: 475px){
        & {
            position: relative;
            z-index: 1;
            color: white;
        }
        & {
            display: block;
        }
    }
    @media only screen and (max-width: 415px){
        & {
            position: relative;
            z-index: 1;
        }
    }
}
.site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header__button{
    display: none;
    @media only screen and (max-width: 475px){
        & {
            display: block;
        }
    }
    @media only screen and (max-width: 415px){
        & {
            display: block;
        }
    }
}
