.subscribe-section__box {
    display: flex;
}
.subscribe-section__heading {
    padding: 0;
    padding-top: 88px;
    padding-bottom: 56px;
    margin: 0;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888f;
}
.subscribe-section__card:not(:last-child) {
    margin-right: 23px;
}
.subscribe-section__form-input:checked+.subscribe-section__span {
    color: #fff;
    background-color: #0e8784;
}
.subscribe-section__span {
    padding: 32px 28px 84px 28px;
    display: block;
    width: 228px;
    background-color: #f4f1eb;
    border-radius: 8px;
    &:hover {
        background-color: #fdd6ba;
        transition: .3s;
    }
}
.subscribe-section__card-heading {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
}
.subscribe-section__card-heading-font {
    font-size: 23px;
}
.subscribe-section__card-text {
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: #333d4b;
    &--font {
        font-size: 17px;
    }
}
.subscribe-section__form-button {
    color: #fff;
    padding: 15px 36px 16px 36px;
    margin-left: auto;
    display: block;
    background-color: #0e8784;
    border-radius: 8px;
    &:hover {
        cursor: pointer;
        background-color: #66d2cf;
    }
}
@media only screen and (max-width:500px) {
    .subscribe-section__heading {
        width: 100%;
        max-width: 240px;
        margin: 0 auto;
        font-size: 24px;
        line-height: 28px;
    }
    .subscribe-section__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subscribe-section__card:not(:last-child) {
        margin-right: 0;
        margin-bottom: 24px;
    }
    .subscribe-section__form-button {
        margin: 0 auto;
    }
}