/* WHY CHOOSE US */
.why-choose-us {
    position: relative;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 317px;
    color: #FEFCF7;
    background-color: #2c343e;
    border-radius: 10px;
}
.why-choose-us__header {
    max-width: 529px;
    margin: 0 auto;
    text-align: center;
}
.why-choose-us__heading {
    margin-top: 0;
    margin-bottom: 32px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}
.why-choose-us__desc {
    margin: 0;
    opacity: 0.8;   
}
.why-choose-us__list {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: -151px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.why-choose-us__item {
    width: 350px;
    padding: 72px 48px 48px 48px;
    text-align: center;
    background-color: #0e8784;
    border-radius: 8px; 
}
.why-choose-us__item:not(:last-child){
    margin-right: 30px;
}
.why-choose-us__item-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.why-choose-us__item-heading::before{
    display: block;
    width: 72px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 56px;
    background-repeat: no-repeat;
    content: '';
}
.why-choose-us__item-heading--shape::before{
    background-image: url(../img/coffe-tarif-1.svg);
}
.why-choose-us__item-heading--benefits::before{
    background-image: url(../img/coffe-tarif-2.svg);
}
.why-choose-us__item-heading--shupping::before{
    background-image: url(../img/coffe-tarif-3.svg);
    background-position: center bottom;
}
@media only screen and ( max-width: 768px){
    .why-choose-us__heading {
        width: 100%;
        font-size: 32px;
        line-height: 48px;
    }
    .why-choose-us__desc {
        font-size: 15px;
        line-height: 25px;
    }
    .why-choose-us__list{
        top: 580px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-left: 60px; */
    }
    .why-choose-us__item{
        width: 100%;
        max-width: 573px;
        padding: 10px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .why-choose-us__item:not(:last-child){
        margin-left: 30px;
        margin-bottom: 24px;
    }
    .why-choose-us__item-heading{
        width: 255px;
    }
}
@media only screen and (max-width: 628px){
    .why-choose-us__heading{
        width: 100%;
        max-width: 279px;
        margin: 0 auto;
        margin-bottom: 24px;
        font-size: 28px;
        line-height: 28px;
    }
    .why-choose-us__desc{
        width: 100%;
        max-width: 279px;
        margin: 0 auto;
        font-size: 15px;
        line-height: 25px;
    }
    .why-choose-us__list{
        top: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .why-choose-us__item:not(:last-child){
        margin-left: 30px;
        margin-bottom: 24px;
    }
    .why-choose-us__item:nth-child(3){
        width: 492px;
    }
}